body{
    font-family: 'Oswald', sans-serif;
    background: linear-gradient(45deg, #f0d6d6,rgb(248, 150, 166),rgb(243, 111, 133) ,rgb(240, 54, 85), red); 
}

.caja{
    margin: auto;
    width: 964px;
    height: 700px;
    padding: 5px;
}

header{ 
    padding: 20px 0;
    font-family: 'Chivo Mono', monospace;
    margin: auto;
    width: 964px;
}

.logocabeza{ 
    margin: 15px 20px;
    position: absolute;
    float: left;
}

h1{
    text-align: center;
    padding: 10px 20px;
    font-size: 60px;
    color: #fbff00;
    font-style: oblique;
    text-shadow: 1px 2px 2px black, 0 0 1em #70a307, 0 0 0.2em #ad7d12;
    font-weight: bold;
}

h1:hover {
    opacity: 0.3;
    filter: alpha(opacity=100);
    zoom: 1;
}    

.bloqueizquierdo{
    float: left;
    width: 65%;
    height: 90%;
    border-radius: 24px;
}

.bloquederecho{
    float: right;
    top: 5%;
    right: 5%;
    position: relative;
    background: #FFFFFF;
    width: 30%;
    height: 85%;
    border-radius: 24px;
}

#textoUsuario{
    width: 80%;
    height: 10%;
    border-radius: 35px;
    border: none;
    font-style: italic;
    font-size: 30px;
    line-height: 100%;
    padding: 12px;
    margin: 10% 0 0 5px;
    float: left;
}

.bloquebotones{
    float: left;
    width: 90%;
    height: auto;
    border-radius: 24px;
    margin: 400px 0 0 5px;
}

.letrachiquita{
    
    color: #495057;
    font-size: small    
}

.botones{
    width: 250px;
    height: 50px;
    border-radius: 24px;
    font-size: 20px;
    text-align: center;
    margin: 10px 20px 20px 0;
    cursor: pointer;
}

#boton-encriptar:hover{
    background: rgb(29, 29, 238);
    font-size: large;
    width: 240px;
    height: 45px;
}

#boton-encriptar{
    background: #0A3871;
    color: #FFFFFF; 

}

#boton-desencriptar{
    background: #D8DFE8;
    border: 1px solid #0A3871;  
}

#boton-desencriptar:hover{
    background: rgb(106, 180, 209);
    font-size: large;
    width: 240px;
    height: 45px;
}

#resultado{
    display: none;
    border: none;
    border-radius: 10px;
    background: linear-gradient(45deg, #ffd60066, transparent);
    width: 90%;
    height: 85%;
    margin: 5%;
    float: left;
    font-size: 25px;
}
/* para ocultar los elementos de este div*/
.elementos{
    display: inherit;
}

/*para esconder el boton copiar*/
#copiar{
    display: none;
    color: #0d3f52;
    border: none;
    width: 50%;
    font-weight: bold;
    font-size: 20px;
    height: 40px;
    background: #3ddbb9;
    border-radius: 24px;
    margin: 5% 25%;
    text-align: center;
    cursor: pointer;
}

#copiar:hover{
    font-size: 23px;
    background: #8042e4;
    width: 50%;
    height: 42px;
}

.logomuñeco{
    margin: 20% 5%;
    width: 90%;
    height: auto;
}

.p1{
    text-align: center;
    font-size: 30px;
    font-weight: bold;
    margin: 5% 10%;
}

.p2{
    text-align: center;
    margin: 15% 10%;
    font-size: 25px;
}

.parte-inferior{
    background: linear-gradient(0deg,#f79335, transparent);
    text-align: center;
    padding: 5px;
}

.img-piepag{
    width: 120px;
    padding: 10px;
}

.copyright{
    color: #FFFFFF;
    font-size: 13px;
    margin: 20px;
    padding: 20px;
}

@media screen and (max-width:480px) {

    .caja, .bloqueizquierdo, #copiar, #textoUsuario{
        width: auto;
    }

    .partesuperior{
        width: auto;
    }

    #textoUsuario{
        right: 5px;
        position: relative;
    }

    .bloquederecho{
        height: 40%;
        width: auto;
        margin: 15px;
        float: left;
        position: relative;
        left: 1.5px;
        top: 5px;
    }

    .logocabeza{
        width: 7%;
        margin: 5px 20px;
        position: relative;
        left: 10px;
    }

    h1{
        text-align: center;
        font-size: 30px;
    }

    .botones, #boton-encriptar,#boton-desencriptar{
        width: 90%;
    }

    #resultado{
        height: 50%;
        text-align: center;
    }

    .elementos, .logomuñeco{
        width: 20%;
        width: 40%;
        float: left;
    }

    #copiar{
        width: 50%;
    }

    .p1, .p2{
        height: auto;
        margin-top: 1em;
    }

    #boton-encriptar, #boton-desencriptar, #copiar {
        margin-top: 5%;
        margin-left: auto;
    }

    .bloquebotones{
        float: left;
        width: 100%;
        height: auto;
        border-radius: 24px;
        margin: 300px 0 0 0;
    }

}