body{
    font-family: 'Oswald', sans-serif;
    background-image: url('./img/fondo_body.jpg');
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
    background-attachment: fixed;
}   

.caja{
    margin: auto;
    padding: 5px;
}

.todo{
    background-image: url('./img/fondo.jpg');
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    border-radius: 45px;
    opacity: 0.92;
}

.partesuperior{ 
    padding: 20px 0;
    font-family: 'Chivo Mono', monospace;
    display: flex;
    justify-content: center;
    box-shadow: 1px 5px 10px #205485;
    background: #4fcedb96;
    border-radius: 50%;
}

.logocabeza{ 
    width: 40px;
    padding: 10px;
}

#logo_my{
    border-radius: 100%;
    width: 5rem;
}

h1{
    text-align: center;
    padding: 10px 20px;
    font-size: 60px;
    color: #005affe8;
    font-style: oblique;
    text-shadow: 1px 2px 2px black, 0 0 1em #69a307e3, 0 0 0.2em #ffffff;
    font-weight: bold;
}
 
/*caja*/

.caja_contenedor{
    display: flex;
    justify-content: space-around;
    padding: 20px;
}
.bloqueizquierdo{
    border-radius: 24px;
}

.bloqueizquierdo_contenedor{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.bloquederecho{
    border-radius: 24px;
    border: thick double rgb(110 200 235 / 77%);
    background: linear-gradient(45deg, #3bafa8, transparent);
    height: 650px;
}

#textoUsuario{
    border-radius: 35px;
    border: thick double rgb(110 200 235 / 77%);
    background: linear-gradient(45deg, #2be5da, transparent);
    background-color: transparent;
    font-style: italic;
    font-size: 30px;
    line-height: 100%;
    width: 500px;
    height: 50px;
}

.bloquebotones{
    border-radius: 24px;
}

.letrachiquita{
    color: #ffffff;
    font-size: small;
    font-weight: bold; 
}

.letrachiquita img{
    color: #D8DFE8;
}

.botones{
    width: 250px;
    height: 50px;
    border-radius: 24px;
    font-size: 20px;
    text-align: center;
    margin: 10px 20px 20px 0;
    cursor: pointer;
    border: none;
}

#boton-encriptar{
    background: #0a2a71;
    color: #FFFFFF;
}

#boton-encriptar:hover{
    background: rgb(54 54 215 / 77%);
    font-size: large;
    width: 240px;
    height: 45px;
}

#boton-desencriptar{
    background: #D8DFE8;
}

#boton-desencriptar:hover{
    background: rgba(162, 208, 226, 0.77);
    font-size: large;
    width: 240px;
    height: 45px;
}

#resultado{
    border: none;
    border-radius: 10px;
    background: linear-gradient(45deg, #00ff4c, transparent);
    width: 90%;
    margin: 5%;
    font-size: 25px;
    height: 80%;
    display: none;
}
/* para ocultar los elementos de este div*/
.elementos{
    display: inherit;
}

/*para esconder el boton copiar*/
#copiar{
    color: #0d3f52;
    border: none;
    font-weight: bold;
    font-size: 20px;
    width: 100px;
    height: 40px;
    background: #3ddbb9;
    border-radius: 24px;
    margin: 10px calc(100% - 280px);
    cursor: pointer;
    display: none;
}

#copiar:hover{   
    font-size: 18px;
    background: #00ff4ca8;
}

.logomuñeco{
    padding: 50px 10px;
}

.p1{
    text-align: center;
    font-size: 30px;
    font-weight: bold;
    margin: 5% 10%;
}

.p2{
    text-align: center;
    margin: 15% 10%;
    font-size: 25px;
}
/*pie pagina*/

.parte-inferior{
    text-align: center;
    padding-top: 10px;
    box-shadow: 1px 5px 10px #071a2ce8;
    background: #00000080;
    border-radius: 100%;
    margin-top: 10px;
}

.parte-inferior--nav{
    display: flex;
    list-style: none;
    justify-content: center;
}

.parte-inferior--li{
    margin: 5px;
}
.copyright{
    color: #FFFFFF;
    font-size: 13px;
    margin: 10px;
    padding: 10px;
}

@media screen and (max-width:480px) {

    .caja, .bloqueizquierdo, #copiar, #textoUsuario{
        width: auto;
    }

    #textoUsuario{
        margin-bottom: 200px;
    }

    .bloquederecho{
        height: 40%;
        margin: 5.5px;
    }

    .logocabeza{
        display: none;
    }

    h1{
        text-align: center;
        font-size: 30px;
    }

    #logo_my{
        display: none;
    }

    /*caja*/

    .caja_contenedor{
        flex-direction: column;
    }

    .botones, #boton-encriptar,#boton-desencriptar{
        width: 100%;
    }

    #boton-encriptar:hover,#boton-desencriptar:hover{
        display: none;
    }

    #resultado{
        height: 50%;
        text-align: center;
    }

    .elementos, .logomuñeco{
        width: 40%;
        margin-left: 85px;
        padding: 5px 0;
    }

    #copiar{
        width: 50%;
    }

    .p1, .p2{
        margin-top: 1em;
    }

}